		h1 {
		color: #aa1111;
		font: bold;
		text-align: center;
		}

		caption {
		color: aqua;
		size: 25px;
		}
		td {
			text-align: center;
		}
		th {
		width: 100px;
		background-color: beige;
		text-align: center;
		font: bold;
		}
		table {
			border-color: black;
			margin-left: auto;
			margin-right: auto;
		
		}
		.Sost {
			background-color: bisque;

		}
		.AN{
			background-color: blue;
		}
		.IPOI{
			background-color: aquamarine;
		}
		.ISO{
			background-color: greenyellow;
		}
		.FM{
			background-color: wheat;
		}
		.TUT{
			background-color:  peru;
		}
		.BBDD{
			background-color: blueviolet;
		}
		.LMSGI{
			background-color: azure;
		}
		.M3{
			background-color: indigo;
		}
		.PAX{background-color: firebrick;
		}

		#descanso {
			font-size: 20px;
			padding: 15px;
			text-align: center;
		}
		#hores {
			font-size: 20px;
			padding: 10px;
			width: 180px;
		}
		#cap {
			font-size: 25px;
			padding: 30px;
		}
		text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			text-align: center;
		}